body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: #004f9e;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url("../img/banner.jpg") center/cover;
    padding: 120px 20px;
    text-align: center;
    color: white;
}

.contenido {
    padding: 30px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #004f9e;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
}
