# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Do NOT ignore frontend inside wwwroot
!frv_api/wwwroot/
!frv_api/wwwroot/frvplomeria/**

# Rider / JetBrains
.idea/

# Entity Framework
Migrations/

# Node
node_modules/
dist/
