# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Publish
publish/
wwwroot/

# Rider / JetBrains
.idea/

# Entity Framework
Migrations/

# Node
node_modules/
dist/
